<nav class="vim-latex-navbar">
  <header>
    <ul>
      <li>
        <a style="white-space: nowrap;" href="/tutorials/vim-latex/{{ .Page.Params.prevFilename }}">
          « Previous
        </a>
      </li>
      <li>
        <a href="/tutorials/vim-latex/intro">
          Series homepage
        </a>
      </li>
      <li>
        <a style="white-space: nowrap;" href="/tutorials/vim-latex/{{ .Page.Params.nextFilename }}">
          Next »
        </a>
      </li>
    </ul>
  </header>
</nav>
