<header class="text-center mx-auto mb-8 bg-blue-50 dark:bg-gray-800 rounded-xl py-2 not-prose border border-gray-400 dark:border-gray-500">
  <ul class="flex list-none items-center text-sky-600 dark:text-sky-100 justify-around px-2 overflow-auto">
    <li>
      <a class="hover:underline whitespace-nowrap" href="/tutorials/deploy-laravel/{{ .Page.Params.prevFilename }}">
        « Previous
      </a>
    </li>
    <li>
      <a class="hover:underline" href="/tutorials/deploy-laravel/about">
        Series homepage
      </a>
    </li>
    <li>
      <a class="hover:underline whitespace-nowrap" href="/tutorials/deploy-laravel/{{ .Page.Params.nextFilename }}">
        Next »
      </a>
    </li>
  </ul>
</header>
