<!-- Listbox widget for switching between light and dark mode. -->
<!-- Only works with corresponding Javascript loaded. -->

<div id="themeswitch-istbox-container" class="relative mr-4">

  <label class="sr-only" id="themeswitch-listbox-button-label">Theme</label>
  <button
    id="themeswitch-listbox-button"
    type="button"
    aria-expanded="false"
    aria-labelledby="themeswitch-listbox-button-label"
    aria-haspopup="true"
    aria-controls="themeswitch-listbox-options"
    class="text-gray-500 dark:text-gray-400 focus:outline-none focus:ring-offset-2 focus:ring-2 active:ring-0 focus:border-0 focus:ring-sky-500 ring-offset-blue-50 dark:ring-offset-gray-900">

    <!-- Sun -->
    <svg id="themeswitch-listbox-button-sun" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.0" stroke="currentColor" class="w-6 h-6 hidden">
      <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
    </svg>

    <!-- Moon -->
    <svg id="themeswitch-listbox-button-moon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.0" stroke="currentColor" class="w-6 h-6 hidden">
      <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
    </svg>
  </button>

  <!-- Listbox options -->
  <ul
    id="themeswitch-listbox-options"
    role="listbox"
    aria-labelledby="themeswitch-listbox-button-label"
    aria-orientation="vertical"
    tabindex="0"
    class="hidden absolute overflow-hidden right-0 w-32 flex flex-col bg-gray-50 dark:bg-gray-800 rounded-lg border border-gray-300 dark:border-gray-600 shadow  focus:outline-none focus:ring-offset-2 focus:ring-2 focus:border-0 focus:ring-sky-500 ring-offset-blue-50 dark:ring-offset-gray-800">

    <!-- Sun -->
    <li
      id="themeswitch-light-option"
      role="option"
      tabindex="-1"
      aria-selected="false"
      class="px-3 py-2 space-x-1 text-left text-gray-500 dark:text-gray-400">
      <svg id="themeswitch-light-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.0" stroke="currentColor" class="w-6 h-6 inline-block">
        <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386l-1.591 1.591M21 12h-2.25m-.386 6.364l-1.591-1.591M12 18.75V21m-4.773-4.227l-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0z" />
      </svg>
      <span id="themeswitch-light-label" class="inline-block font-semibold text-sm text-gray-900 dark:text-gray-100">Light</span>
    </li>

    <!-- Moon -->
    <li
      id="themeswitch-dark-option"
      role="option"
      tabindex="-1"
      aria-selected="false"
      class="px-3 py-2 space-x-1 text-left text-gray-500 dark:text-gray-400">
      <svg id="themeswitch-dark-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.0" stroke="currentColor" class="w-6 h-6 inline-block">
        <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.718 9.718 0 0118 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 003 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 009.002-5.998z" />
      </svg>
      <span id="themeswitch-dark-label" class="inline-block font-semibold text-sm text-gray-900 dark:text-gray-100">Dark</span>
    </li>

    <!-- System -->
    <li 
      id="themeswitch-system-option"
      role="option"
      tabindex="-1"
      aria-selected="false"
      class="px-3 py-2 space-x-1 text-left text-gray-500 dark:text-gray-400">
      <svg id="themeswitch-system-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 inline-block text-gray-500 dark:text-gray-400">
        <path stroke-linecap="round" stroke-linejoin="round" d="M9 17.25v1.007a3 3 0 01-.879 2.122L7.5 21h9l-.621-.621A3 3 0 0115 18.257V17.25m6-12V15a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 15V5.25m18 0A2.25 2.25 0 0018.75 3H5.25A2.25 2.25 0 003 5.25m18 0V12a2.25 2.25 0 01-2.25 2.25H5.25A2.25 2.25 0 013 12V5.25" />
      </svg>
      <span id="themeswitch-system-label" class="inline-block font-semibold text-sm text-gray-900 dark:text-gray-100">System</span>

    </li>
  </ul>
</div>
