<!-- The site's top navigation bar -->
<nav class="w-full mx-auto">
  <header>
    <ul class="flex items-center border border-gray-200 rounded-lg whitespace-nowrap overflow-auto space-x-5 md:space-x-8 px-4 py-4">
      <li><a class="py-2 hover:underline hover:text-sky-600"href="/">Home</a></li>
      <li><a class="py-2 hover:underline hover:text-sky-600"href="/notes/fmf/fmf">Physics notes</a></li>
      <li><a class="py-2 hover:underline hover:text-sky-600"href="/resume.pdf">Résumé</a></li>
      <li><a class="py-2 hover:underline hover:text-sky-600"href="/contact">Contact</a></li>
    </ul>
  </header>
</nav>
