<!-- The site's top navigation bar -->

<!-- Used to highlight current page in navbar -->
{{ $currentPage := . -}}

<header class="w-full">
  <ul class="flex items-start space-x-6">

    <!-- ejmastnak logo -->
    {{ if ne $currentPage.Title "Home" }}
    <li class="mr-4">
      <a href="/" class="dark:hidden">
        {{ partial "logo/desktop-light.html" . }}
      </a>
      <a href="/" class="hidden dark:block">
        {{ partial "logo/desktop-dark.html" . }}
      </a>
    </li>
    {{ end }}

    <!-- Home -->
    <li class="!ml-auto hidden sm:block">
      <a class="text-gray-500 dark:text-gray-400 hover:underline hover:text-sky-600 {{ if eq $currentPage.Title "Home" }}font-medium text-gray-900 dark:text-gray-200{{ end }}"href="/">
        Home
      </a>
    </li>

    <!-- Content -->
    <li class="hidden sm:block">
      <a class="text-gray-500 dark:text-gray-400 hover:underline hover:text-sky-600 {{ if eq $currentPage.Title "Content" }}font-medium text-gray-900 dark:text-gray-200{{ end }}"href="/content">
        Content
      </a>
    </li>

    <!-- Contact -->
    <li class="hidden sm:block">
      <a class="text-gray-500 dark:text-gray-400 hover:underline hover:text-sky-600 {{ if eq $currentPage.Title "Contact" }}font-medium text-gray-900 dark:text-gray-200{{ end }}"href="/contact">
        Contact
      </a>
    </li>

    <!-- About -->
    <li class="hidden sm:block">
      <a class="text-gray-500 dark:text-gray-400 hover:underline hover:text-sky-600 {{ if eq $currentPage.Title "About" }}font-medium text-gray-900 dark:text-gray-200{{ end }}"href="/about">
        About
      </a>
    </li>

  </ul>
</header>


