<!-- The site's top navigation bar -->
<nav class="w-full mx-auto">
  <header>
    <ul class="flex items-center border border-nord_gray_1 whitespace-nowrap overflow-auto space-x-5 md:space-x-8 px-3 py-3">
      <li><a class="hover:underline hover:text-link_blue"href="/">Home</a></li>
      <li><a class="hover:underline hover:text-link_blue"href="/notes/fmf/fmf">Physics notes</a></li>
      <li><a class="hover:underline hover:text-link_blue"href="/resume.pdf">Résumé</a></li>
      <li><a class="hover:underline hover:text-link_blue"href="/contact">Contact</a></li>
    </ul>
  </header>
</nav>
