<!-- Check if image is a Page Resource or Global Resource -->
{{ if isset .Params "global" }}

{{ $image := resources.Get ( .Get `src` ) }}
{{ .Scratch.Set "link" $image.RelPermalink }}

{{ else }}

{{ $image := .Page.Resources.GetMatch ( .Get `src` ) }}
{{ .Scratch.Set "link" $image.RelPermalink }}

{{ end }}

<div style="
  display: flex;
  justify-content: center;
  width: 100%;"
>
  <img
    src="{{ $.Scratch.Get `link` }}"
    width="{{ .Get `width` }}"
    {{ if isset .Params "alt" }}alt="{{ .Get `alt` }}"{{ end }}
  >
</div>
